<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <header>
        <h1>Expresstagram</h1>
        <%- include("partials/nav") %>

    </header>
        <h1>Hello and welcome to the profile page</h1>
    <h2>From here, you can start your own collection, purchase items, add new products you discover, and search for alternatives to products you love that aren't reusable.</h2>
</body>
</html>
